<div class="jumbotron">
    <h1 class="display-3">Welcome to MyCollege</h1>
    <p class="lead">Tips for new Joiners</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
</div>

7f9eb957a3203f9f9336b409f89ac71a61d718e2
